* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #080808;
    color: white;
}
.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-header img{
    position: absolute;
    width: 120px;
    border-radius: 50%;
  left: 30px;
  top: 15px;
  z-index: 1000;
}

.header {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 10;
    transition: 0.4s ease;
}
header.ocultar{
    top: -100px;
}

nav {
    position: relative;

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    padding: 15px ;

    background: rgba(0, 0, 0, 0.50);

    z-index: 100;
}
nav a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav a:hover {
    color: rgb(255, 204, 0);
}

nav > a::after,
.submenu-contenedor > a::after {
    content: "";

    position: absolute;

    left: 50%;
    bottom: -5px;

    width: 0;
    height: 1px;

    background: #00d4ff;

    transform: translateX(-50%);

    box-shadow:
        0 0 5px #00d4ff,
        0 0 10px #00d4ff,
        0 0 20px #00d4ff;

    transition: 0.4s;
}


nav > a:hover::after,
.submenu-contenedor:hover > a::after {
    width: 100%;
}
/* CONTENEDOR DE CADA OPCIÓN */
.submenu-contenedor {
    position: relative;
    display: flex;
    align-items: center;
}


/* SUBMENU */
.submenu {
    position: absolute;

    top: calc(100% + 15px);
    left: 50%;

    transform: translateX(-50%) translateY(10px);

    width: 210px;

    background: rgba(0, 10, 20, 0.95);

    border: 1px solid #00d4ff;

    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    gap: 5px;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    z-index: 9999;
}


/* APARECER */
.submenu-contenedor:hover .submenu {

    opacity: 1;

    visibility: visible;

    transform:
        translateX(-50%)
        translateY(0);
}


/* ENLACES */
.submenu a {

    display: block;

    width: 100%;

    padding: 10px;

    color: white;

    text-decoration: none;

    font-size: 16px;

    text-align: center;

    border-radius: 7px;

}


/* HOVER */
.submenu a:hover {

    background: rgba(0, 212, 255, 0.2);

    color: #00d4ff;

}
#redes {
    position: fixed;
    top: 0;
    right: 0;

    width: 170px;
    height: 100vh;

    background: #00d5ff75;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 40px;

    transform: translateX(100%);
    transition: transform 0.4s ease;

    z-index: 1001;
}
#redes a {
    position: relative;

    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    transition: 0.3s;
}
#redes a::after {
    content: "";

    position: absolute;

    width: 65px;
    height: 65px;

    border: 3px solid transparent;
    border-top-color: #00d4ff;
    border-right-color: rgb(248, 251, 247);

    border-radius: 50%;

    opacity: 0;

    transition: 0.3s;
}


/* Cuando pasas el mouse */
#redes a:hover {
    transform: scale(1.30);
}


/* Brillo del logo */
#redes a:hover i {
    color: #0c0c0c;

    filter:
        drop-shadow(0 0 5px #fbb003)
        drop-shadow(0 0 15px #f9c003);
}


/* Activar círculo */
#redes a:hover::after {
    opacity: 1;

    animation: girarRed 1s linear infinite;
}


@keyframes girarRed {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

#fondo {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.57);

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

    z-index: 1000;
}

#redes.mostrar {
    transform: translateX(0);
}

#fondo.mostrar {
    opacity: 1;
    visibility: visible;
}
#redes i {
    font-size: 50px;
    color: white;

    transition: 0.3s;

    z-index: 2;
}
#contacto{
position: relative;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
#contacto:hover {
    color: rgb(255, 204, 0);
}
#contacto::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 0.4px;
    background: #00d4ff;
    transform: translateX(-50%);
    box-shadow: 
        0 0 5px #00d4ff,
        0 0 10px #00d4ff,
        0 0 20px #00d4ff;
    transition: 0.4s;
}

#contacto:hover::after {
    width: 100%;
}
/* =========================
   HERO
========================= */

.viaje-hero {

    height: 90vh;
    min-height: 650px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}


.hero-fondo {

    position: absolute;

    inset: 0;

    background-image:

        linear-gradient(
            rgba(0,0,0,.25),
            rgba(0,0,0,.75)
        ),

        url("../img/espana.jpg");

    background-size: cover;

    background-position: center;

    transform: scale(1.05);
}


.hero-contenido {

    position: relative;

    z-index: 2;

    text-align: center;

}


.hero-contenido > span {

    font-size: 11px;

    letter-spacing: 5px;

    color: #ddd;
}


.hero-contenido h1 {

    font-size: clamp(80px, 15vw, 190px);

    line-height: .85;

    letter-spacing: -8px;

    margin: 25px 0;
    transition: 0.4s ease;
   

}


.hero-contenido p {

    font-size: 20px;

    color: #ddd;

}


.hero-datos {

    display: flex;

    justify-content: center;

    gap: 15px;

    margin-top: 35px;

    flex-wrap: wrap;
}


.hero-datos span {

    padding: 10px 15px;

    background: rgba(255,255,255,.1);

    border: 1px solid rgba(255,255,255,.2);

    border-radius: 30px;

    backdrop-filter: blur(10px);

    font-size: 11px;
}


/* =========================
   INFORMACIÓN
========================= */

.informacion-viaje {

    padding: 120px 8%;

    background: #f5f5f2;

    color: #111;
}


.titulo-seccion {

    max-width: 700px;

    margin-bottom: 60px;
}


.titulo-seccion span {

    font-size: 10px;

    letter-spacing: 4px;

    color: #888;
}


.titulo-seccion h2 {

    font-size: 50px;

    letter-spacing: -2px;

    margin: 15px 0;
}


.titulo-seccion p {

    color: #777;

    line-height: 1.7;
    font-size: 20px;
}


/* CARACTERÍSTICAS */

.caracteristicas {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

    max-width: 1200px;
}


.caracteristicas div {

    padding: 30px;

    background: white;

    border-radius: 20px;

    transition: .3s;
}


.caracteristicas div:hover {

    transform: translateY(-8px);
    background: violet;
    color: white;
}


.caracteristicas span {

    font-size: 28px;
}


.caracteristicas h3 {

    margin: 15px 0 8px;
}


.caracteristicas p {

    font-size: 13px;

    color: #080808;
}


/* =========================
   DESTINOS
========================= */

.destinos-viaje {

    background: #08080884;

    padding: 100px 6%;
}


.destino {

    max-width: 1200px;

    margin: 0 auto 100px;

    display: flex;

    align-items: center;

    gap: 70px;
}


.destino-invertido {

    flex-direction: row-reverse;
}


.destino img {

    width: 55%;

    height: 450px;

    object-fit: cover;

    border-radius: 25px;
}


.destino div {

    flex: 1;
}


.destino span {

    color: #f2f1f1;

    font-size: 12px;

    letter-spacing: 3px;
}


.destino h2 {

    font-size: 55px;

    margin: 15px 0;
    
    
}


.destino p {

    color: #050505;
    background: rgba(255, 255, 255, 0.7);
    line-height: 1.9;
    
     font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s ease-out;
    animation: aire 1s infinite alternate ease-in-out;

}
@keyframes aire{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-20px);
    }
}

/* =========================
   ITINERARIO
========================= */

.itinerario {

    background: #f5f5f2;

    color: #111;

    padding: 120px 8%;
}


.dias {

    max-width: 900px;
}


.dia {

    padding: 30px 0;

    border-bottom: 1px solid #ddd;

    display: grid;

    grid-template-columns: 120px 1fr 1fr;

    gap: 30px;

    align-items: center;
}


.dia > span {

    font-size: 10px;

    letter-spacing: 2px;

    color: #888;
}


.dia h3 {

    font-size: 18px;
}


.dia p {

    color: #888;

    font-size: 13px;
}


/* =========================
   RESERVA
========================= */

.reserva {

    min-height: 500px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding: 80px 20px;

    background:

        linear-gradient(
            rgba(0,0,0,.7),
            rgba(0,0,0,.8)
        ),

        url("../img/espana.jpg");

    background-size: cover;

    background-position: center;
}


.reserva span {

    font-size: 10px;

    letter-spacing: 4px;

    color: #aaa;
}


.reserva h2 {

    font-size: 55px;

    max-width: 700px;

    margin: 20px auto;

    letter-spacing: -2px;
}


.reserva p {

    color: #aaa;

    margin-bottom: 30px;
}


.boton-reserva {

    display: inline-flex;

    align-items: center;

    gap: 25px;

    padding: 15px 20px 15px 25px;

    background: white;

    color: black;

    text-decoration: none;

    border-radius: 40px;

    font-size: 11px;

    font-weight: bold;

    transition: .3s;
}


.boton-reserva span {

    display: flex;

    align-items: center;

    justify-content: center;

    width: 32px;

    height: 32px;

    background: black;

    color: white;

    border-radius: 50%;

    font-size: 18px;
    transition: 0.4s ease-in-out;
}


.boton-reserva:hover {

    transform: translateY(-5px);
    background: rgb(255, 174, 0);
    

}


/* =========================
   CELULAR
========================= */

@media(max-width: 800px) {

    .caracteristicas {

        grid-template-columns:
            repeat(2, 1fr);
    }


    .destino,
    .destino-invertido {

        flex-direction: column;

        gap: 30px;

    }


    .destino img {

        width: 100%;

        height: 300px;
    }


    .destino h2 {

        font-size: 40px;
    }


    .dia {

        grid-template-columns: 1fr;

        gap: 10px;
    }

}


@media(max-width: 500px) {

    .informacion-viaje,
    .itinerario {

        padding: 80px 20px;
    }


    .titulo-seccion h2 {

        font-size: 38px;
    }


    .caracteristicas {

        grid-template-columns: 1fr;
    }


    .reserva h2 {

        font-size: 40px;
    }

}