/* ==========================
   ESPAÑA MINIMAL
========================== */
.atras a{
    position: relative;
    display: inline-block;
    left: 46%;
    top: 58px;
    text-decoration: none;
    font-size: 20px;
    background-color: #111111af;
    border: none;
    border-radius: 25px;
    padding: 15px 30px ;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    z-index: 1;
   

}
.atras a:hover{
    background: rgb(253, 179, 5);
     transform: translateY(-5px)
   
}
.destino-espana {
    position: relative;
    height: 750px;
    width: 100%;
    overflow: hidden;

    background: #f3f1ec;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* ==========================
   PAISAJES
========================== */

.paisaje {
    position: absolute;

    top: 7%;
    bottom: 7%;

    width: 30%;

    background-size: cover;
    background-position: center;

    border-radius: 25px;

    transition: 1s ease;
}


/* IZQUIERDA */

.paisaje-izq {

    left: 3%;

    background-image:
        linear-gradient(
            rgba(0,0,0,.08),
            rgba(0,0,0,.15)
        ),
        url("imagenes/whistofino-barcelona-3901449_1920.jpg");

}


/* DERECHA */

.paisaje-der {

    right: 3%;

    background-image:
        linear-gradient(
            rgba(0,0,0,.08),
            rgba(0,0,0,.18)
        ),
        url("imagenes/jorge22gil-barcelona-4724397_1920.jpg");

}
.paisaje-der:hover{
    transform: translateY(-20px);
}

/* MOVIMIENTO */

.destino-espana:hover .paisaje-izq {

    transform:
        translateX(-10px)
        scale(1.05);

}


.destino-espana:hover .paisaje-der {

    transform:
        translateX(10px)
        scale(1.05);

}


/* ==========================
   CENTRO
========================== */

.espana-central {

    position: relative;

    z-index: 5;

    width: 430px;

    min-height: 500px;

    padding: 65px 45px;

    text-align: center;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    background: rgba(255,255,255,.82);

    backdrop-filter: blur(18px);

    border-radius: 30px;

    box-shadow:
        0 30px 80px rgba(0,0,0,.12);

}


/* PEQUEÑO TITULO */

.mini-titulo {

    font-size: 11px;

    letter-spacing: 4px;

    color: #777;

    margin-bottom: 20px;
}


/* TITULO */

.espana-central h2 {

    font-size: 75px;

    letter-spacing: -5px;

    line-height: .9;

    margin: 0 0 20px;

    font-weight: 900;

    color: #111;

}


/* FRASE */

.espana-central > p {

    color: #666;

    font-size: 16px;

    margin-bottom: 25px;

}


/* ==========================
   LUGARES
========================== */

.lugares {

    display: flex;

    gap: 7px;

    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 30px;

}


.lugares span {

    padding: 8px 13px;

    border: 1px solid #ddd;

    border-radius: 20px;

    font-size: 11px;

    color: #555;

}


/* ==========================
   DATOS
========================== */

.datos-espana {

    display: flex;

    gap: 45px;

    margin-bottom: 30px;

}


.datos-espana div {

    display: flex;

    flex-direction: column;

    gap: 6px;

}


.datos-espana small {

    font-size: 9px;

    letter-spacing: 2px;

    color: #999;

}


.datos-espana strong {

    font-size: 14px;

    color: #222;

}


/* ==========================
   BOTON
========================== */

.boton-espana {

    display: flex;

    align-items: center;

    gap: 25px;

    padding: 14px 20px 14px 25px;

    background: #111;

    color: white;

    text-decoration: none;

    border-radius: 40px;

    font-size: 11px;

    letter-spacing: 1px;

    transition: .3s;

}



.boton-espana span {

    display: flex;
  
    align-items: center;

    justify-content: center;

    width: 32px;

    height: 32px;

    border-radius: 50%;

    background: white;

    color: #111;

    font-size: 18px;
    transition: 0.4s ease-in-out;
    
    
}

.boton-espana:hover {

    transform: translateX(10px);

    padding-right: 35px;
     background: rgb(255, 140, 0);

}


/* ==========================
   TARJETAS FLOTANTES
========================== */

.info-flotante {

    position: absolute;

    z-index: 10;

    background: rgba(255,255,255,.9);

    backdrop-filter: blur(10px);

    padding: 12px 18px;

    border-radius: 15px;

    box-shadow: 0 15px 40px rgba(0,0,0,.1);

    display: flex;

    align-items: center;

    gap: 10px;

    transition: .4s;

}


.info-flotante span {

    font-size: 10px;

    color: #999;

}


.info-flotante p {

    font-size: 12px;

    font-weight: bold;

}


/* POSICIONES */

.info-izq {

    left: 26%;

    bottom: 15%;

}


.info-der {

    right: 26%;

    top: 16%;

}


.info-flotante:hover {

    transform: translateY(-7px);

}


/* ==========================
   RESPONSIVE
========================== */

@media(max-width: 900px) {

    .paisaje {

        width: 40%;

        opacity: .35;

    }

    .espana-central {

        width: 400px;

    }

    .info-flotante {

        display: none;

    }

}


@media(max-width: 600px) {

    .destino-espana {

        height: 700px;

    }

    .paisaje {

        width: 55%;

        opacity: .2;

    }

    .paisaje-izq {

        left: -20%;

    }

    .paisaje-der {

        right: -20%;

    }

    .espana-central {

        width: 90%;

        min-height: 480px;

        padding: 45px 25px;

    }

    .espana-central h2 {

        font-size: 60px;

    }

}